# 使用中国镜像源
registry=https://registry.npmmirror.com/
sass_binary_site=https://npmmirror.com/mirrors/node-sass/
phantomjs_cdnurl=https://npmmirror.com/mirrors/phantomjs/
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
chromedriver_cdnurl=https://npmmirror.com/mirrors/chromedriver
operadriver_cdnurl=https://npmmirror.com/mirrors/operadriver
selenium_cdnurl=https://npmmirror.com/mirrors/selenium
node_inspector_cdnurl=https://npmmirror.com/mirrors/node-inspector
fsevents_binary_host_mirror=https://npmmirror.com/mirrors/fsevents/
sharp_binary_host=https://npmmirror.com/mirrors/sharp
sharp_libvips_binary_host=https://npmmirror.com/mirrors/sharp-libvips
sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
# 添加下面这些新的镜像配置
node_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/sqlite3/
better_sqlite3_binary_host_mirror=https://npmmirror.com/mirrors/better-sqlite3/
ELECTRON_BUILDER_BINARIES_MIRROR=https://npmmirror.com/mirrors/electron-builder-binaries/
ELECTRON_MIRROR=https://npmmirror.com/mirrors/electron/
ELECTRON_CUSTOM_DIR={{ version }}
# 不使用SHASUMS校验
SKIP_POSTINSTALL_CHECKSUMS=true

# 禁用资金信息和审计，加快安装速度
fund=false
audit=false

# 保存确切版本，避免版本不一致问题
save-exact=true

# 配置缓存路径
cache=./.npm-cache

# npm包管理器设置
loglevel=http
